*{
	margin:0;
	padding: 0;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content:space-between;
	align-items: center;
}
nav h1{
	width: 150px;
	color:#111;
}
nav a{
	text-decoration: none;
}
.nav-links{
	flex:1;
	text-align: right;
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}
.nav-links ul li a{
	color: #111;
	text-decoration: none;
	font-size: 16px;
}
.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background:#f44336;
	display: block;
	margin: auto;
	transition: 0.6s;
}
.nav-links ul li:hover::after{
	width: 100%;
}
.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top:4%;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
.mainpic{
	position: absolute;
	padding-left: 200px;
}
.secondpic img{
	position: absolute;
	padding-left:660px;
}

.thirdpic img{
	position: absolute;
	padding-left:660px;
	padding-top: 154px;
}
.fourthpic img{
	position: absolute;
	padding-left: 883px;
}
.sixthpic img{
	position: absolute;
	padding-left: 883px;
	padding-top: 154px;
}
.table{
	padding-top: 330px;
}
.table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.table1{
	padding-top: 12px;
}
.table1 table{
  margin-left: 549px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
.header1{
	margin-top: 20px;
	min-height: 70vh;
	width: 100%;
	background-image:linear-gradient(rgba(4,9,30,0.7));
	background-image:url('pictures/banner2.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}
.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;
}
.text-box h1{
	font-size: 63px;
}
.text-box p{
	margin: 10px 0 40px;
	font-size: 14px;
	color: #fff;	
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border:1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background:transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border:1px solid darkblue;
	background:lightblue;
	transition: 1s;
}
.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top:4%;
}
h1{
	font-size: 36px;
	font-weight: 600;
}
/*.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  cursor: pointer;
  margin-left: 590px;
}
*/
